:root{
    --mainColor: ##65656D;
    --secondaryColor: #A6A6B0;
    
    --borderColor: #FFFBFF; 
    
    --mainText: #fff;
    --secondaryText: #eeeeee;
    
    --themeDotBorder: #98a4c4;
    --previewBg:rgb(174,201,253 , 0.8) ;
    --previewShadow: #384E77;
    
    --btnColor: #3F3F41;
}
